.ab-p-0 {
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }
  .ab-py-0 {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }
  .ab-px-0 {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .ab-pt-0 {
    padding-top: 0px !important;
  }
  .ab-pb-0 {
    padding-bottom: 0px !important;
  }
  .ab-pl-0 {
    padding-left: 0px !important;
  }
  .ab-pr-0 {
    padding-right: 0px !important;
  }
  .ab-pr-1 {
    padding-right: var(--padding) !important;
  }
  .ab-pr-2 {
    padding-right: var(--padding-2x) !important;
  }
  .ab-pr-3 {
    padding-right: var(--padding-3x) !important;
  }
  .ab-pr-4 {
    padding-right: var(--padding-4x) !important;
  }
  .ab-pr-5 {
    padding-right: var(--padding-5x) !important;
  }
  .ab-pr-6 {
    padding-right: var(--padding-6x) !important;
  }
  .ab-pr-7 {
    padding-right: var(--padding-7x) !important;
  }
  .ab-pr-8 {
    padding-right: var(--padding-8x) !important;
  }
  .ab-pl-1 {
    padding-left: var(--padding) !important;
  }
  .ab-pl-2 {
    padding-left: var(--padding-2x) !important;
  }
  .ab-pl-3 {
    padding-left: var(--padding-3x) !important;
  }
  .ab-pl-4 {
    padding-left: var(--padding-4x) !important;
  }
  .ab-pl-5 {
    padding-left: var(--padding-5x) !important;
  }
  .ab-pl-6 {
    padding-left: var(--padding-6x) !important;
  }
  .ab-pl-7 {
    padding-left: var(--padding-7x) !important;
  }
  .ab-pl-8 {
    padding-left: var(--padding-8x) !important;
  }
  .ab-pt-1 {
    padding-top: var(--padding) !important;
  }
  .ab-pt-2 {
    padding-top: var(--padding-2x) !important;
  }
  .ab-pt-3 {
    padding-top: var(--padding-3x) !important;
  }
  .ab-pt-4 {
    padding-top: var(--padding-4x) !important;
  }
  .ab-pt-5 {
    padding-top: var(--padding-5x) !important;
  }
  .ab-pt-6 {
    padding-top: var(--padding-6x) !important;
  }
  .ab-pt-7 {
    padding-top: var(--padding-7x) !important;
  }
  .ab-pt-8 {
    padding-top: var(--padding-8x) !important;
  }
  .ab-pb-1 {
    padding-bottom: var(--padding) !important;
  }
  .ab-pb-2 {
    padding-bottom: var(--padding-2x) !important;
  }
  .ab-pb-3 {
    padding-bottom: var(--padding-3x) !important;
  }
  .ab-pb-4 {
    padding-bottom: var(--padding-4x) !important;
  }
  .ab-pb-5 {
    padding-bottom: var(--padding-5x) !important;
  }
  .ab-pb-6 {
    padding-bottom: var(--padding-6x) !important;
  }
  .ab-pb-7 {
    padding-bottom: var(--padding-7x) !important;
  }
  .ab-pb-8 {
    padding-bottom: var(--padding-8x) !important;
  }
  .ab-px-1 {
    padding-left: var(--padding) !important;
    padding-right: var(--padding) !important;
  }
  .ab-px-2 {
    padding-left: var(--padding-2x) !important;
    padding-right: var(--padding-2x) !important;
  }
  .ab-px-3 {
    padding-left: var(--padding-3x) !important;
    padding-right: var(--padding-3x) !important;
  }
  .ab-px-4 {
    padding-left: var(--padding-4x) !important;
    padding-right: var(--padding-4x) !important;
  }
  .ab-px-5 {
    padding-left: var(--padding-5x) !important;
    padding-right: var(--padding-5x) !important;
  }
  .ab-px-6 {
    padding-left: var(--padding-6x) !important;
    padding-right: var(--padding-6x) !important;
  }
  .ab-px-7 {
    padding-left: var(--padding-7x) !important;
    padding-right: var(--padding-7x) !important;
  }
  .ab-px-8 {
    padding-left: var(--padding-8x) !important;
    padding-right: var(--padding-8x) !important;
  }
  .ab-py-1 {
    padding-top: var(--padding) !important;
    padding-bottom: var(--padding) !important;
  }
  .ab-py-2 {
    padding-top: var(--padding-2x) !important;
    padding-bottom: var(--padding-2x) !important;
  }
  .ab-py-3 {
    padding-top: var(--padding-3x) !important;
    padding-bottom: var(--padding-3x) !important;
  }
  .ab-py-4 {
    padding-top: var(--padding-4x) !important;
    padding-bottom: var(--padding-4x) !important;
  }
  .ab-py-5 {
    padding-top: var(--padding-5x) !important;
    padding-bottom: var(--padding-5x) !important;
  }
  .ab-py-6 {
    padding-top: var(--padding-6x) !important;
    padding-bottom: var(--padding-6x) !important;
  }
  .ab-py-7 {
    padding-top: var(--padding-7x) !important;
    padding-bottom: var(--padding-7x) !important;
  }
  .ab-py-8 {
    padding-top: var(--padding-8x) !important;
    padding-bottom: var(--padding-8x) !important;
  }
  .ab-p-1 {
    padding-top: var(--padding) !important;
    padding-bottom: var(--padding) !important;
    padding-left: var(--padding) !important;
    padding-right: var(--padding) !important;
  }
  .ab-p-2 {
    padding-top: var(--padding-2x) !important;
    padding-bottom: var(--padding-2x) !important;
    padding-left: var(--padding-2x) !important;
    padding-right: var(--padding-2x) !important;
  }
  .ab-p-3 {
    padding-top: var(--padding-3x) !important;
    padding-bottom: var(--padding-3x) !important;
    padding-left: var(--padding-3x) !important;
    padding-right: var(--padding-3x) !important;
  }
  .ab-p-4 {
    padding-top: var(--padding-4x) !important;
    padding-bottom: var(--padding-4x) !important;
    padding-left: var(--padding-4x) !important;
    padding-right: var(--padding-4x) !important;
  }
  .ab-p-5 {
    padding-top: var(--padding-5x) !important;
    padding-bottom: var(--padding-5x) !important;
    padding-left: var(--padding-5x) !important;
    padding-right: var(--padding-5x) !important;
  }
  .ab-p-6 {
    padding-top: var(--padding-6x) !important;
    padding-bottom: var(--padding-6x) !important;
    padding-left: var(--padding-6x) !important;
    padding-right: var(--padding-6x) !important;
  }
  .ab-p-7 {
    padding-top: var(--padding-7x) !important;
    padding-bottom: var(--padding-7x) !important;
    padding-left: var(--padding-7x) !important;
    padding-right: var(--padding-7x) !important;
  }
  .ab-p-8 {
    padding-top: var(--padding-8x) !important;
    padding-bottom: var(--padding-8x) !important;
    padding-left: var(--padding-8x) !important;
    padding-right: var(--padding-8x) !important;
  }
  /** Margin **/
  .ab-m-auto {
    margin: auto;
  }
  .ab-m-0 {
    margin-left: 0px !important;
    margin-right: 0px !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
  }
  .ab-mt-0 {
    margin-top: 0px !important;
  }
  .ab-mb-0 {
    margin-bottom: 0px !important;
  }
  .ab-ml-0 {
    margin-left: 0px !important;
  }
  .ab-mr-0 {
    margin-right: 0px !important;
  }
  .ab-mr-1 {
    margin-right: var(--margin) !important;
  }
  .ab-mr-2 {
    margin-right: var(--margin-2x) !important;
  }
  .ab-mr-3 {
    margin-right: var(--margin-3x) !important;
  }
  .ab-mr-4 {
    margin-right: var(--margin-4x) !important;
  }
  .ab-mr-5 {
    margin-right: var(--margin-5x) !important;
  }
  .ab-mr-6 {
    margin-right: var(--margin-6x) !important;
  }
  .ab-ml-1 {
    margin-left: var(--margin) !important;
  }
  .ab-ml-2 {
    margin-left: var(--margin-2x) !important;
  }
  .ab-ml-3 {
    margin-left: var(--margin-3x) !important;
  }
  .ab-ml-4 {
    margin-left: var(--margin-4x) !important;
  }
  .ab-ml-5 {
    margin-left: var(--margin-5x) !important;
  }
  .ab-ml-6 {
    margin-left: var(--margin-6x) !important;
  }
  .ab-mt-1 {
    margin-top: var(--margin) !important;
  }
  .ab-mt-2 {
    margin-top: var(--margin-2x) !important;
  }
  .ab-mt-3 {
    margin-top: var(--margin-3x) !important;
  }
  .ab-mt-4 {
    margin-top: var(--margin-4x) !important;
  }
  .ab-mt-5 {
    margin-top: var(--margin-5x) !important;
  }
  .ab-mt-6 {
    margin-top: var(--margin-6x) !important;
  }
  .ab-mt-7 {
    margin-top: var(--margin-7x) !important;
  }
  .ab-mt-8 {
    margin-top: var(--margin-8x) !important;
  }
  .ab-mb-1 {
    margin-bottom: var(--margin) !important;
  }
  .ab-mb-2 {
    margin-bottom: var(--margin-2x) !important;
  }
  .ab-mb-3 {
    margin-bottom: var(--margin-3x) !important;
  }
  .ab-mb-4 {
    margin-bottom: var(--margin-4x) !important;
  }
  .ab-mb-5 {
    margin-bottom: var(--margin-5x) !important;
  }
  .ab-mx-1 {
    margin-left: var(--margin) !important;
    margin-right: var(--margin) !important;
  }
  .ab-mx-2 {
    margin-left: var(--margin-2x) !important;
    margin-right: var(--margin-2x) !important;
  }
  .ab-mx-3 {
    margin-left: var(--margin-3x) !important;
    margin-right: var(--margin-3x) !important;
  }
  .ab-mx-4 {
    margin-left: var(--margin-4x) !important;
    margin-right: var(--margin-4x) !important;
  }
  .ab-mx-5 {
    margin-left: var(--margin-5x) !important;
    margin-right: var(--margin-5x) !important;
  }
  .ab-mx-6 {
    margin-left: var(--margin-6x) !important;
    margin-right: var(--margin-6x) !important;
  }
  .ab-mx-7 {
    margin-left: var(--margin-7x) !important;
    margin-right: var(--margin-7x) !important;
  }
  .ab-mx-8 {
    margin-left: var(--margin-8x) !important;
    margin-right: var(--margin-8x) !important;
  }
  
  .ab-my-1 {
    margin-top: var(--margin) !important;
    margin-bottom: var(--margin) !important;
  }
  .ab-my-2 {
    margin-top: var(--margin-2x) !important;
    margin-bottom: var(--margin-2x) !important;
  }
  .ab-my-3 {
    margin-top: var(--margin-3x) !important;
    margin-bottom: var(--margin-3x) !important;
  }
  .ab-my-4 {
    margin-top: var(--margin-4x) !important;
    margin-bottom: var(--margin-4x) !important;
  }
  .ab-m-1 {
    margin-top: var(--margin) !important;
    margin-bottom: var(--margin) !important;
    margin-left: var(--margin) !important;
    margin-right: var(--margin) !important;
  }
  .ab-m-2 {
    margin-top: var(--margin-2x) !important;
    margin-bottom: var(--margin-2x) !important;
    margin-left: var(--margin-2x) !important;
    margin-right: var(--margin-2x) !important;
  }
  .ab-m-3 {
    margin-top: var(--margin-3x) !important;
    margin-bottom: var(--margin-3x) !important;
    margin-left: var(--margin-3x) !important;
    margin-right: var(--margin-3x) !important;
  }
  .ab-m-4 {
    margin-top: var(--margin-4x) !important;
    margin-bottom: var(--margin-4x) !important;
    margin-left: var(--margin-4x) !important;
    margin-right: var(--margin-4x) !important;
  }
  